.rovers {
    text-align: center;
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 2px;
    padding: 0px;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);

}

.roverButton {
    background-color: #2f179c;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;


}

.roverButton:hover {
    background-color: white;
    color: rebeccapurple;
    transition: 1000ms
}