.datePicker {
    padding: 5 px;
    margin: 3px;

}

.roverButton {
    background-color: #2f179c;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: Nasa;
}

.roverButton:hover {
    background-color: white;
    color: rebeccapurple;
    transition: 1000ms;

}